:root {
  --var-primary-color-theme: rgb(255, 255, 255);
  --var-secondary-color-theme: rgb(186, 186, 186);
  --var-primary-text-color-theme: rgb(27, 27, 27);
  --var-secondary-text-color-theme: rgb(62, 62, 62);

  --var-card-width: 450px;
}

html,
body {
  font-size: 20px;

  background: var(--var-primary-color-theme);
  color: var(--var-primary-text-color-theme);
}

body {
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.warped {
  -webkit-filter: url("#squiggly");
  filter: url("#squiggly");
}

.subheading {
  font-size: 1.25rem;

  -webkit-filter: url("#squiggly");
  filter: url("#squiggly");
  font-family: sans-serif;

  color: #8bc462;
}

i {
  color: var(--var-secondary-text-color-theme);
}

@media (max-width: 500px) {
  html,
  body {
    font-size: 16px;
  }

  body {
    padding: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --var-primary-color-theme: rgb(27, 27, 27);
    --var-secondary-color-theme: rgb(75, 75, 75);
    --var-primary-text-color-theme: lightgray;
    --var-secondary-text-color-theme: rgb(183, 183, 183);
  }
}
