:root {
  --var-primary-color-theme: rgb(240, 239, 236);
  --var-secondary-color-theme: rgb(226, 226, 226);
  --var-primary-text-color-theme: rgb(25, 25, 25);
  --var-secondary-text-color-theme: rgb(122, 122, 122);

  --var-hero-text-color: rgb(86, 130, 3);
  --var-card-width: 450px;
}

html,
body {
  background: var(--var-primary-color-theme);

  color: var(--var-primary-text-color-theme);
  font-size: 16px;
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.4;
}

body {
  padding: 2rem;

  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;

  box-sizing: border-box;
  padding: 0px 1rem;
}

nav span {
  color: var(--var-secondary-text-color-theme);
  padding: 0px 5px;
}

nav a {
  color: var(--var-hero-text-color);
  text-decoration: none;
}

nav a:hover {
  font-weight: 500;
  text-decoration: none;
}

nav a:hover::before {
  content: "[";
}

nav a:hover::after {
  content: "]";
}

a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  font-weight: 600;
}

.heading {
  font-family: serif;
  font-weight: 500;
  line-height: 0.9;

  color: var(--var-hero-text-color);
}

.warped {
  -webkit-filter: url("#squiggly");
  filter: url("#squiggly");
}

.subheading {
  font-size: 1.5rem;
  -webkit-filter: url("#squiggly");
  filter: url("#squiggly");
  color: var(--var-hero-text-color);
}

.metadata {
  text-transform: uppercase;
  color: var(--var-secondary-text-color-theme);
}

.metadata time {
  font-weight: 700;
}

i {
  color: var(--var-secondary-text-color-theme);
}

@media (max-width: 500px) {
  body {
    padding: 2rem 1rem;
  }

  .heading {
    font-size: 3.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --var-primary-color-theme: rgb(25, 25, 25);
    --var-secondary-color-theme: rgb(60, 60, 60);
    --var-primary-text-color-theme: rgb(210, 209, 206);
    --var-secondary-text-color-theme: rgb(183, 183, 183);

    --var-hero-text-color: #8bc462;
  }
}
