html,
body {
  overflow-x: hidden;
}

.hero {
  margin: 0px;

  background-image: url("/assets/hero.webp");
  background-size: cover;

  max-width: 600px;
  min-height: 100px;
}

nav {
  max-width: 600px;
}

header {
  padding-bottom: 1.5rem;
}

.metadata {
  text-transform: uppercase;
  color: var(--var-secondary-text-color-theme);
}

.metadata time {
  font-weight: 700;
}

.heading {
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 0px;
}

.descriptor {
  color: var(--var-secondary-text-color-theme);
  border-left: 2px solid var(--var-secondary-text-color-theme);
  padding-left: 1rem;
}

.listheading {
  font-size: 1.3rem;

  -webkit-filter: url("#squiggly");
  filter: url("#squiggly");
  font-family: sans-serif;

  color: var(--var-hero-text-color);
}

.listheading::before {
  content: "✴ ";
  color: orange;
}

.blog-aside-container {
  display: grid;
  grid-auto-flow: column;
  position: relative;

  margin-top: -1rem;
  margin-bottom: -1rem;
}

.blog-image {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -20.25rem;

  z-index: 1;
}

.blog-aside {
  border-left: 2px solid gray;
  font-size: 0.85rem;

  width: 20rem;
  box-sizing: border-box;
  padding: 5px 1rem;

  position: absolute;
  top: 0;
  right: 0;
  margin-right: -20.25rem;

  z-index: 1;

  background: var(--var-secondary-color-theme);
}

.blog-aside a {
  font-size: 0.85rem;
}

.blog-image img {
  object-fit: cover;
  max-width: 20rem;
  max-height: 20rem;

  border-radius: 5px;
}

.ref:after {
  content: " •";
  color: orange;
}

.ref:hover,
.blog-aside-container:has(.blog-aside:hover) .ref {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 2px;
}

.blog-aside:hover,
.blog-aside-container:has(.ref:hover) .blog-aside {
  border-left: 2px solid orange;
}

@media screen and (max-width: 900px) {
  .blog-image,
  .blog-aside {
    transition: transform 0.2s ease;
  }

  .blog-image:hover,
  .blog-aside:hover {
    transform: translateX(-19.25rem);
  }

  .blog-aside-container:has(.ref:hover) .blog-aside {
    transform: translateX(-19.25rem);
  }
}
