nav {
  width: 90%;
}

#intro {
  margin-bottom: 2.5rem;
  padding: 1rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.heading {
  font-size: 5rem;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 2.5rem;
}

.subheading,
.descriptor {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 10px 0px;
}

.descriptor {
  width: 90%;
}

.descriptor b {
  font-style: italic;
}

a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  font-weight: 600;
}

menu {
  margin: 0;
  padding: 0;
  padding-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

menu > li,
menu > li > a {
  display: inline;
  padding: 0.2rem;

  color: inherit;
  font-size: 1.3rem;
}

menu > li:hover {
  background: var(--var-hero-text-color);
  color: var(--var-primary-color-theme);
}

.blog {
  padding: 0px;
  border: 2px solid var(--var-secondary-color-theme);
}

.blog a {
  text-decoration: none;
  font-weight: unset;
}

.log {
  list-style: none;
  display: flex;

  padding: 1rem;
  gap: 1rem;
  background: var(--var-secondary-color-theme);
}

.log:hover {
  background: var(--var-primary-color-theme);
}

.log div:last-child {
  border-left: 2px solid var(--var-secondary-text-color-theme);
  padding-left: 1rem;
}

.metadata {
  min-width: 10rem;
  text-align: end;
}

.title {
  font-family: serif;
  font-size: 2rem;
  color: var(--var-hero-text-color);

  line-height: 1;
  margin: 0px;
}

.tagline {
  padding: 0px;
  margin: 0px;

  color: var(--var-secondary-text-color-theme);
}

.projects {
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--var-card-width), 100%), 1fr)
  );
}

article {
  display: grid;
  padding: 1rem;
  max-width: var(--var-card-width);
}

article:hover {
  background: var(--var-secondary-color-theme);
}

article > p {
  width: 90%;
  margin: 5px;
}

.preview {
  aspect-ratio: 2/1.3;
  object-fit: cover;
  width: var(--var-card-width);
  max-width: 100%;
  border: 1px solid black;
}

#profile {
  width: 40%;
  margin: 0;
  margin-top: 5px;

  position: relative;

  background-image: url("/assets/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

figcaption {
  position: absolute;
  bottom: 3px;
  right: 0px;
}

figcaption a {
  background: rgba(255, 255, 255, 0.7);
  padding: 3px;
}

#about {
  width: 50%;
}

@media (max-width: 800px) {
  body {
    padding: 2rem 0px;
  }

  header {
    flex-flow: column nowrap;
    gap: 1.5rem;
  }

  .heading {
    font-size: 4rem;
  }

  nav,
  .descriptor,
  #about {
    width: unset;
  }

  nav,
  #intro,
  .subheading,
  .descriptor,
  article {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  #profile {
    width: 100%;
    aspect-ratio: 3/1;
  }

  .metadata {
    min-width: unset;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 3.5rem;
  }
}
