body {
  overflow-x: hidden;
}

.blog-aside-container {
  display: grid;
  grid-auto-flow: column;
  position: relative;
}

.blog-image {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -16rem;

  z-index: 1;
}

.blog-aside {
  border-left: 2px solid gray;
  font-size: 0.85rem;

  width: 15rem;
  box-sizing: border-box;
  padding: 5px 1rem;

  position: absolute;
  top: 0;
  right: 0;
  margin-right: -16rem;

  z-index: 1;

  background: var(--var-secondary-color-theme);
}

.blog-aside a {
  font-size: 0.85rem;
}

.blog-image img {
  object-fit: cover;
  max-width: 15rem;
  max-height: 15rem;

  border-radius: 5px;
}

.ref,
.ref:hover {
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  text-decoration-style: inherit;
  text-decoration-color: orange;
}

.ref:after {
  content: " •";
  color: orange;
}

.blog-aside-container:has(.blog-aside:hover) .ref {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 600;
}

.blog-aside:hover,
.blog-aside-container:has(.ref:hover) .blog-aside {
  border-left: 2px solid orange;
}

@media screen and (max-width: 900px) {
  .blog-image,
  .blog-aside {
    transition: transform 0.2s ease;
  }

  .blog-image:hover,
  .blog-aside:hover {
    transform: translateX(-14rem);
  }

  .blog-aside-container:has(.ref:hover) .blog-aside {
    transform: translateX(-14rem);
  }
}
