{% import "components/project.html" as components %}
{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/css/index.css" />
{% endblock %}
{% block title %}Marie Yu{% endblock %}
{% block content %}
    <section id="intro">
        <header>
            <figure id="profile">
                <figcaption>
                    <a href="https://en.wikipedia.org/wiki/Ordered_dithering"
                       target="_blank"
                       rel="noreferrer">
                        <small>dithering.</small>
                    </a>
                </figcaption>
            </figure>
            <div id="about">
                <h1 class="heading">Hi, I'm Marie!</h1>
                <p>
                    I'm a software engineer with a focus on product engineering and newsroom technologies.
                    I study Computer Science <small>🤖👾</small> at the University of Michigan.
                </p>
                <p>
                    Previously, I did engineering at
                    <a href="https://www.nytimes.com/crosswords"
                       target="_blank"
                       rel="noreferrer">The New York Times Games</a>,
                    <a href="https://www.michigandaily.com" target="_blank" rel="noreferrer">The Michigan Daily</a>,
                    <a href="https://www.detroitography.com"
                       target="_blank"
                       rel="noreferrer">DETROITography</a>
                    and <a href="https://www.avenuapp.com/" target="_blank" rel="noreferrer">Avenu</a>.
                </p>
                <p>
                    I'm a big fan of developing for newsrooms and full-stack
                    development. I believe in the ability for technology to be used
                    as a means for artistic expression and to do good in the world.
                </p>
                <p>You can reach me via yumarie <b>[at]</b> umich <b>[dot]</b> edu.</p>
                <menu>
                    <li class="warped">
                        <a href="/assets/Resume.pdf">
                            <b>resume</b>
                        </a>
                    </li>
                    <li class="warped">
                        <a href="https://github.com/yum25" target="_blank" rel="noreferrer">
                            <b>github</b>
                        </a>
                    </li>
                    <li class="warped">
                        <a href="https://www.linkedin.com/in/marie-yu/"
                           target="_blank"
                           rel="noreferrer">
                            <b>linkedin</b>
                        </a>
                    </li>
                </menu>
            </div>
        </header>
    </section>
    <main>
        <section style="display: none;">
            <h2 class="subheading">console.blog</h2>
            <p class="descriptor">My informal tech blog/devlog where I reflect on what I've been working on.</p>
            <ul>
                <li class="log">
                    <div class="metadata">
                        <time>July 5, 2026</time>
                    </div>
                    <p class="title">On Coding to Live, and Living to Code</p>
                    <p class="descriptor">My complex relationship with the craft I've chosen to be my career.</p>
                </li>
                <li class="log">
                    <div class="metadata">
                        <time>July 5, 2026</time>
                    </div>
                    <p class="title">Building Strands Statistics and Streaks</p>
                    <p class="descriptor">A NYT internship retrospective</p>
                </li>
            </ul>
        </section>
        <section>
            <h2 class="subheading">projects, projects, and projects</h2>
            <p class="descriptor">
                A collection of my public facing work, which spans everything from <b>full-stack product and feature engineering</b>
                to <b>web and interactive design</b>, <b>internal tooling</b> and <b>data visuals</b>.
            </p>
            <ul>
                {% for project in fullstack %}
                    {{ components.projectCard(project) }}
                {% endfor %}
                {% for project in webdesign %}
                    {{ components.projectCard(project) }}
                {% endfor %}
                {% for project in dataviz %}
                    {{ components.projectCard(project) }}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
