{% extends "layouts/blog.html" %}
{% block article %}
    <p>
        I’ve thought about starting a technical blog for a while now, way back in my undergraduate years. Now,
        as I’m studying for my masters, I’ve finally decided to bite the bullet and start it.
    </p>
    <h2 class="subheading">Why did it take me so long to get to this?</h2>
    <div class="blog-aside-container">
        <p>
            A variety of factors come to mind, one of them being that
            writing is hard. Even short updates and small technical blurbs require fact checking and some thought
            put into them. Sentences need to be reread and reread and reread for flow and accuracy. For the reward,
            I get to read it myself, and
            <span id="ref-1" class="ref" aria-describedby="note-1">probably not many other people.</span>
            It didn’t really seem like something that would be worth it.
        </p>
        <aside id="note-1" class="blog-aside" aria-labelledby="ref-1">
            I don’t really expect traffic on this site except for myself, my friends, and some curious onlookers.
            If you're an unexpected curious onlooker though, I'm equally pleased and terrified you're interested
            enough to read this.
        </aside>
    </div>
    <p>
        Recently however, I’ve started devaluing some of my past work and experiences. I think this is relatively normal
        – as you work and improve, your past begins to look more amateur. It doesn’t carry the weight of the years of mistakes
        and improvements you’ve made. But with that improvement comes hesitation as well. What if I come up with something better
        a year later? And a year after that? What if everything I said in an article is actually completely, technically wrong?
    </p>
    <p>
        The more I’ve reflected on it, the more I’ve realized that a lot of this reasoning comes from fear rather than any good reason.
        So I’ve decided to start this, even if it flops and I never update it again. Even if I get the technical details inaccurate, make
        spelling mistakes, and write in uncompelling ways.
    </p>
    <p>
        I’ve decided to be unapologetically imperfect. Look for me and you will see me in every gap in my knowledge, every
        <span style="color: gray;">aged opinion</span>,
        every <i>stilted dialogue</i> and <b>blunted sentence</b>. I hope my mistakes can be as compelling and interesting as my successes.
    </p>
    <p>I’ve talked a lot about why I didn’t want to do this whole “useless” blog thing. But why do I want to do it?</p>
    <h2 class="subheading">Why I want to do it</h2>
    <div class="blog-aside-container">
        <p>
            I want to do it because all of the past work I devalued I want to bring back into the spotlight. I hope to reflect on all
            of the things I’ve learned, and even reflect on more philosophical thoughts I have about my career in general. I predict that in
            turn this blog will provide dividends. Maybe not to anything concrete in my life.
            <span id="ref-2" class="ref" aria-describedby="note-2">But I will be able to look at past experiences and projects analytically.</span>
            I can showcase all the cool stuff I’ve done in greater depth than just a simple portfolio site ever could.
            And I get a bit of self fulfillment from myself for being able to write on this thing and talk about whatever I want.
        </p>
        <aside id="note-2" class="blog-aside" aria-labelledby="ref-2">
            It can even be subtle way to force me to get better at behavioral interviews - writing about my experiences helps me organize my thoughts.
        </aside>
    </div>
    <div class="blog-aside-container" style="margin-bottom: unset;">
        <p>
            <span id="ref-3" class="ref" aria-describedby="note-3">I also want to do it because I came up with the name
                <span style="color: var(--var-hero-text-color)">console.blog</span> for it.</span>
                Sometimes the best reasons are the silliest ones. :)
            </p>
            <aside id="note-3" class="blog-aside" aria-labelledby="ref-3">
                I say this as a joke, but I'm also dead serious.
            </aside>
        </div>
    {% endblock %}
