{% extends "layouts/blog.html" %}
{% block article %}
    <p>
        Something I recently came across while revamping this personal site of mine was dealing with assets
        <i>(most commonly, images)</i>. After working on my own site, I've noticed that within a lot of portfolio sites,
        assets are treated as an afterthought. This was definitely the case for me - it's easy to just take a screenshot of
        something as an image preview, throw it into your assets folder, and focus on the more involved aspects of coding up your website.
    </p>
    <p>
        Recently though, I've been thinking more about bundle sizes ever since reading an article about
        <a href="https://endtimes.dev/why-your-website-should-be-under-14kb-in-size/">why your website should be under 14kB in size.</a>
        If you're not careful, your images can overexceed that by <b><i>tens to hundreds of times</i></b>, and often it doesn't have to be that
        way.
    </p>
    <p>
        Sometimes while updating my site I like to look through other dev portfolios from people at a similar stage as me in their careers
        for inspiration. One website I came across loaded <b>~40 MB</b> upon the first page load and took <b>15+ seconds</b> to load the
        main portfolio page. Other portfolios had decent page load times, but still served images in the <b>MB</b> range (likely a high
        resolution image they got from their phone).
        I myself made these mistakes as well.
    </p>
    <p>So what can we do about it?</p>
    <h2 class="subheading">Resize your images</h2>
    <h2 class="subheading">Use .webp or .avif</h2>
    <h2 class="subheading">The srcset attribute and placeholders</h2>
    <h2 class="subheading">Um, ok. So how do I actually do all of this?</h2>
    <h2 class="subheading">Understanding your build process</h2>
    <h2 class="subheading">Trimming bloat in other places</h2>
{% endblock %}
