{% extends "layouts/base.html" %}
{% block title %}Building Strands Statistics and Streaks{% endblock %}
{% block content %}
    <h1 class="subheading">Building Strands Statistics and Streaks</h1>
    <i>A NYT internship retrospective</i>
    <main style="max-width: 600px;">
        <p>
            In the Summer of 2025, I was an intern at NYT Games. During that
            time, I contributed to pushing out the Strands Stats and Streaks
            feature. It was a really fun time, and I'm proud of the work I
            accomplished and think fondly back to working on the team. However,
            I had no real way of showcasing my work, since it would mostly be
            linking back to the NYT Games website. So here it is: my own little
            blog/article on the features I pushed out with the team!
        </p>
        <p>
            This serves as my little informal intern retrospective and a log
            of some of the things I accomplished.
        </p>
    </main>
{% endblock %}
