{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block title %}{% endblock %}
{% block content %}
    <header>
        <figure class="hero">
        </figure>
    </header>
    <section class="metadata">
        <small>
            <span>console.blog</span>
            <span>//</span>
            <time>July 5, 2026</time>
        </small>
    </section>
    {% block article %}{% endblock %}
    <footer>
        <figure class="hero">
        </figure>
    </footer>
{% endblock %}
