{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <header>
        <figure class="hero">
        </figure>
    </header>
    <section class="metadata">
        <small>
            <span>console.blog</span>
            <span>//</span>
            <time>{{ article.date }}</time>
        </small>
    </section>
    <main>
        <header>
            <h1 class="heading">{{ article.title }}</h1>
            <p class="descriptor">{{ article.tagline }}</p>
        </header>
        {% block article %}{% endblock %}
    </main>
    <footer>
        <figure class="hero">
        </figure>
    </footer>
{% endblock %}
